.bar-button-default-md {
  color:white;
}
.toolbar-ios ion-title {
  padding:0px 10px;
}
.toolbar-title-ios {
  text-align: left;
}
h3 {
  font-family: 'Ubuntu';
  font-weight: bold;
  color:#FFFFFF;
}

.toolbar-background {
  background: #27ae60;
}
.toolbar-title {
  color:white;
  font-weight: bold;
  font-family: Ubuntu;
  padding:2px 0px;
}

.ion-title {
  padding:0;
}
.gear_icon {
  width:15%;
}
.settings {
  text-align: right;
  color: white;
  font-family: Ubuntu;
  font-weight: bold;
  span {
    vertical-align: super;
  }
}
.bar-button-default-ios {
  color:white;
}